@media screen and (min-width:700px) and (max-device-width: 902px) {
  .image {
    /* width: 100%; */
    /* opacity: 0.4; */
  }
}
/* 
@media screen and (min-device-width: 690px) and (max-device-width: 902px) {
  .image {
    width: 900px;
  }
}
@media screen and (min-device-width: 51px) and (max-device-width: 690px) {
  .image {
    width: 900px;
  }
}
@media screen and (min-device-width: 40px) and (max-device-width: 50px) {
  .image {
    width: 200px;
  }
} */
/* img {
  width: 100%;
} */
@media screen and (min-device-width: 40px) and (max-device-width: 50px) {
  .image {
    width: 10;
    background-color: aqua;
    border-radius: 100px;
  }
}
.image{
  padding-left: 200;background-color: blue;
}
.makan{
  background-color: aqua;
}
.card{
  background-color: blue;
}