@media screen and (min-width: 903px) {
  .image {
    width: 100%;
    height: 600px;
    opacity: 0.4;
    
  }
}

@media screen and (min-device-width: 690px) and (max-device-width: 902px) {
  .image {
    width: 900px;
  }
}
@media screen and (min-device-width: 51px) and (max-device-width: 690px) {
  .image {
    width: 900px;
  }
}
@media screen and (min-device-width: 40px) and (max-device-width: 50px) {
  .image {
    width: 200px;
  }
}
