/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
p {
  margin: 0;
}
h1 {
  margin: 0;
}
div {
  margin: 0;
  padding: 0;
  background-color: #61dafb;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 0.1rem;
  color: #fff;
  background-color: red;
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

section {
  flex-basis: 100%;
  padding: 1rem;
}

/* @media screen and (min-width: 600px) {
  section {
    flex-basis: calc(100% / 3 - 5.5rem);
    margin-right: 1rem;
    background-color: rgb(0, 255, 64);
  }

  section:nth-child(3n) {
    margin-right: 0;
    background-color: aquamarine;
  }
  header {
    background-color: rgb(32, 236, 236);
  }
} */
/* For Desktop View */
@media screen and (min-width: 1024px) {
  header {
    background-color: rgb(236, 32, 32);
  }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  header {
    background-color: rgb(13, 15, 15);
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  header {
    background-color: rgb(236, 32, 175);
  }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  header {
    background-color: rgb(236, 100, 32);
  }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  header {
    background-color: rgb(32, 236, 236);
    width: 640px;
  }
}

/* For iPhone 4 Portrait or Landscape View */
/* @media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  header {
    background-color: rgb(236, 188, 32);
  }
} */

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  header {
    background-color: rgb(32, 236, 141);
  }
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  header {
    background-color: rgb(76, 32, 236);
  }
}

/* @media only screen and (min-width: 960px) {
  section {
    flex-basis: calc(100% / 3 - 1.5rem);
    margin-right: 1rem;
    background-color: rgb(0, 255, 64);
  }

  section:nth-child(3n) {
    margin-right: 0;
    background-color: aquamarine;
  }
} */

footer {
  padding: 1rem;
  background-color: #333;
  color: #fff;
  text-align: center;
}
